.header-wrapper {
  padding-left: 8px;
  width: 100%;
  background-color: #1A120B;
  align-items: center;
}

.header-title {
  font-size: 32px;
  font-weight: 500;
  color: #D5CEA3;
}

.language {
  font-size: 18px;
  color: #D5CEA3;
}
